aiofiles
https://github.com/aiogram/aiogram/archive/refs/tags/v3.0.0b7.zip
pydantic
# Geometry utils
shapely
# .env support
python-dotenv
# Async connection to db
asyncpg
# Testing
pytest
pytest-asyncio
docker
# Migrations
alembic
sqlalchemy
psycopg2-binary
# formating
black
isort
# API
fastapi
fastapi_utils